body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;     

    background-color: #051923;
    color: white;
    margin-top: 5%;
    padding: 0px;
    height: 100vh;
    width: 100%;

}

body::-webkit-scrollbar {
    width: 0;
    background: transparent;
}



.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48
}

#scrollTopButton {
    display: none;
    position: fixed;
    text-align: center;
    font-weight: bold;
    bottom: 15px;
    right: 30px;
    z-index: 20;
}

#scrollTopButton span {
    font-size: 50px;
    border-radius: 50px;
    background: #00a6fb;
}



#user-profile-link-nav {
    margin-top: 5px;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.navbar-custom {
    background-color: #003554;
}

/* Changing navbar toggler */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
.navbar-toggler{
  border: 2px solid white;
}
.navbar-toggler:focus{
  box-shadow: none;
}
/* ---  */

body .navbar a {
    color: white;
}

.navbar li a img {
    width: 2rem;
    border-radius: 2rem;
}


.home-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/static/images/home_ds.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: bottom 0px right 0px;
}

.home-username {
    color:  #00a6fb;
}

.home-content h1 {
    font-size: 4rem;
}

.home-content button {
    margin-top: 3rem;
    height: 3rem;
    width: 14rem;
    border-radius: 10px;
    font-size: 1.5rem;
    border: none;
}

.home-primary-button {
    background-color: #00a6fb;
    color: white;
    transition: background-color 1.5s ease;
}

.home-primary-button:hover{
    background-color: black;
}

.home-secondary-button {
    background-color: white;
    color: black;
    transition: background-color 1s ease;

}

.home-secondary-button:hover {
    background-color: #00a6fb;
    color: black;
}

.user-container {
    margin: auto;
    background-color: #0a2b3b;
    width: 30%;
    padding: 3%;
}

.user-container small{
    margin-bottom: 3%;
    font-size: 80%;
}

.user-header {
    font-size: 250%;
}

.user-container input{
    margin-top: 1.5%;
    margin-bottom: 3%;
    height: 15%;
    width: 75%;
    border: none;
    background-color: rgba(155, 155, 155, 0.144);
    color: white;
}

.user-container button{
    margin-top: 1rem;
    margin-bottom: 1rem; 
    border: none;
    color: white;
    border: solid 1px white;
    height: 15%;
    width: 30%;
    background-color: rgba(49, 58, 87, 0.459);
}

.user-extra {
    color: white;
    text-decoration: underline;
    margin: auto;
}

@media (max-width: 1400px) {
    .user-header {
        font-size: 200%;
    }
}

@media (max-width: 1210px) {
    .user-header {
        font-size: 150%;
    }
    .user-container button{
        font-size: 70%;
    }
}

@media (max-width: 935px){
    .user-header {
        font-size: 150%;
    }
    .user-container button{
        font-size: 50%;
        width: 50%;
    }
    .user-container label{
        font-size: 70%;
    }
    .user-extra {
        font-size: 70%;
    }
}

@media (max-width: 540px){
    .user-container{
        width: 50%;
    }

    .user-container button{
        font-size: 50%;
        width: 50%;
    }
    .user-container label{
        font-size: 70%
    }
}

#recommend-container {
    width: 40%;
}

@media (max-height: 1000px) {
    #recommend-container {
        width: 60%;
        margin-top: 300px;
    }
}

@media (max-height: 800px) {
    #recommend-container {
        width: 80%;
        margin-top: 400px;
    }
}


#recommend-container div {
    padding-top: 3%;
    padding-bottom: 3%;
}

#recommend-container button {
    background-color: #00a6fb;
    color: white;
    border-radius: 5px;
    border: none;
    height: 3rem;
}

#recommend-container span {
    font-size: 2rem;
}

#recommend-row-1, #recommend-row-3 {
    background-color: #082838;
}

#recommend-row-2, #recommend-row-4 {
    border: solid 1px #082838;
}

#list-container, #search-container, #profile-container {
    width: 75%;
    margin-top: 75px;
    overflow: auto;
    border: solid 1px #082838;
}

#add-anime-row a{
    color: inherit;
}

#list-add-anime-icon{
    font-size: 50px;
    margin-top: 5px;
}

.anime-container, .searchbar-container {
    border: solid 1px #082838;
}

.desc-container, .desc-container-edit {
    font-size: 90%;
}

.title-container, .title-container-edit {
    font-size: 150%;
}

#list-container input[type="text"], #list-container textarea{
    background-color: transparent;
    color: white;
    border: solid 1px #00a6fb;
    border-radius: 5px;
    overflow: scroll;
}

#list-container textarea {
    width: 50%;
}

#list-container img {
    margin-top: 10px;
}

.title-container-edit input[type="text"] {
    width: 80%;
    margin-bottom: 5px;
}

.list-listing-delete-icon span{
    margin-top: 5px;
    font-size: 40px;
}

#list-detail-button {
    border: solid 1px #00a6fb;
    background-color:rgba(49, 58, 87, 0.459);
    color: white;
    border-radius: 5px;
    padding-inline: 5px;
}

#list-container .column-right{
    word-wrap: break-word;
}

#search-container .column-center{
    word-wrap: break-word;
}

#list-container img {
    max-width: 225px;
    width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}


#list-container::-webkit-scrollbar, #search-container::-webkit-scrollbar {
    width: .75rem;
}


#list-container::-webkit-scrollbar-track, #search-container::-webkit-scrollbar-track {
    border-radius: 100px;
}
  
#list-container::-webkit-scrollbar-thumb, #search-container::-webkit-scrollbar-thumb {
    background-color: #00a6fb;
    border-radius: 100px;
}

#list-container::-webkit-scrollbar-corner, #search-container::-webkit-scrollbar-corner {
    background: transparent;
}

#list-clipboard{
    cursor: pointer;
    padding: 10px;
    color: white;
    background-color: transparent;
    border: solid 1px #082838;
    border-radius: 10px;
}

#list-clipboard:hover{
    background-color: black;
}


#list-url-notif {
    margin-bottom: 0;
}

small{
    color: darkgray;
}

#delete-form{
    position: absolute;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 250px;
    text-align: center;
    border: solid 1px #082838;
}

#delete-form button{
    border: none;
    margin: 5px;
    border-radius: 5px;
}

#delete-confirm-btn {
    background-color: rgb(226, 45, 45);
    color: white;
}

#edit-listing-form {
    position: absolute;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    left: 0;
    right: 0;
    top: 250px;
    text-align: center;
}

#edit-listing-form textarea{
    width: 60vw;
    height: 250px;
    background-color: transparent;
    color: white;
    border: solid 1px #00a6fb;
    border-radius: 5px;
}

#edit-listing-form button {
    border: solid 1px #00a6fb;
    background-color:rgba(49, 58, 87, 0.459);
    color: white;
    margin: 5px;
    border-radius: 5px;
    padding-inline: 5px;
}

#edit-listing-form #delete-listing-btn {
    background-color: red;
    top: 0px;
}

#search-bar {
    width: 80%;
    height: 30px;
    margin: 0;
    border: solid 1px #00a6fb;
    background-color: transparent;
    color: white;
    padding-left: 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}


#search-icon {
    vertical-align: middle;
}

#search-button {
    height: 30px;
    width: 50px;
    margin-top: -5px;
    margin-left: -5px;
    border: none;
    border: solid 1px #00a6fb;
    background-color: transparent;
    color: white;
    vertical-align: middle;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#add-anime-icon {
    font-size: 50px;
}

#add-anime-button {
    border: none;
    background: none;
    color: inherit;
    outline: none;
}

#page-forward-icon, #page-back-icon {
    vertical-align: middle;
}

#page-forward-button, #page-back-button {
    border: none;
    border: solid 1px #00a6fb;
    background-color: transparent;
    color: white;
}

#page-back-button {
    width: 38px;
}

#page-back-icon {
    margin-left: 5px;
}

#page-jump-input, #page-jump-button {
    width: 50px;
    height: 80%;
    border: none;
    border: solid 1px #00a6fb;
    background-color: transparent;
    color: white;
    text-align: center;
}

#profile-image{
    height: 150px;
    width: 150px;
}

#profile-image img{
    max-width:100%;
    max-height:100%;
}