/* Global */
body {
    padding-top: 60px;
    background-color: #051923;
    color: white;
}

#body-content {
    height: 100vh;
}

body::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

hr {
    width: 100%;
    margin: 0;
}

/* --- ---  */

/* --- NavBar --- */

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler{
  border: 2px solid white;
}

.navbar-toggler:focus{
  box-shadow: none;
}

#nav-profile-image {
    clip-path: circle();
    width: 2rem;
}

#nav-profile-image-link {
    padding: 0px;
}

.navbar-custom {
    background-color: #003554;
}

.navbar a {
    color: white;
}

/* --- ---  */

/* --- Home --- */

#home-content {
    padding: 0px;
}

#home-greeting {
    font-size: 5vw;
}

#home-username {
    color:  #00a6fb;
}

.home-card {
    border: solid white 3px;
    color: white;
    vertical-align: middle;
}

@media (max-width: 768px) {
    .custom-md-col {
        width: 60%; /* Adjust this width as needed */   
    }
}

/* --- ---  */