
{% extends 'base.html' %}

{% block title %} Generate a list! {% endblock %}

{% block content %}

<div id="recommend-container">
    <form method="POST">    
        <div class="row gx-2 justify-content-center" id="recommend-row-1">
            <div class="col-md-6 my-auto text-center">
                <span>Series or Movies?</span>
            </div>
            <div class="col-md-6 my-auto">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="type" id="type1" value="tv">
                    <label class="form-check-label" for="type1">Series&nbsp;&nbsp;</label>
                    <input class="form-check-input" type="radio" name="type" id="type2" value="movie">
                    <label class="form-check-label" for="type2">Movies</label>        
                </div>       
            </div>
        </div>
        <div class="row gx-2 justify-content-center" id="recommend-row-2">
            <div class="col-md-6 my-auto text-center">
                <span>Completed?</span>
            </div>  
            <div class="col-md-6 my-auto">
                <div class="form-check">
                    <input class="form-check-input" name="status" value="complete" type="checkbox">
                    <label class="form-check-label" for="status">I only want to see finished anime.</label>
                </div>  
            </div>
        </div>  
        <div class="row gx-2 justify-content-center" id="recommend-row-3">
            <div class="col-md-6 my-auto text-center">
                <span>Genres?</span>
                <br>
                <small>Select up to 3 options</small>
            </div>  
            <div class="col-md-6 my-auto">
                <div class="form-check">
                    <input class="form-check-input genre-checkbox" name="genre" value="1" type="checkbox">
                    <label class="form-check-label" for="genre1">Action</label>
                    <br>
                    <input class="form-check-input genre-checkbox" name="genre" value="4" type="checkbox">
                    <label class="form-check-label" for="genre2">Comedy</label>
                    <br>
                    <input class="form-check-input genre-checkbox" name="genre" value="7" type="checkbox">
                    <label class="form-check-label" for="genre3">Mystery</label>
                    <br>
                    <input class="form-check-input genre-checkbox" name="genre" value="22" type="checkbox">
                    <label class="form-check-label" for="genre4">Romance</label>
                    <br>
                    <input class="form-check-input genre-checkbox" name="genre" value="36"  type="checkbox">
                    <label class="form-check-label" for="genre5">Slice of Life</label>
                    <br>
                    <input class="form-check-input genre-checkbox" name="genre" value="30"  type="checkbox">
                    <label class="form-check-label" for="genre6">Sports</label>
                    <br>
                    <input class="form-check-input genre-checkbox" name="genre" value="40" type="checkbox">
                    <label class="form-check-label" for="genre7">Psychological</label>      
                    <br>
                    <input class="form-check-input genre-checkbox" name="genre" value="25" type="checkbox">
                    <label class="form-check-label" for="genre8">Shoujo</label>      
                    <br>
                    <input class="form-check-input genre-checkbox" name="genre" value="27" type="checkbox">
                    <label class="form-check-label" for="genre9">Shounen</label>                          
                </div>
            </div>
        </div>  
        <div class="row gx-2 justify-content-center" id="recommend-row-4">
            <div class="col-md-6 text-center my-auto align-items-center">
                <button>Make my list!</button>
            </div>
        </div>
    </form>
  </div>

  <script>
    $(".genre-checkbox").click(function(){
        if ($(".genre-checkbox:checked").length > 3){
        return false;
    }
    });
  </script>
{% endblock %}