{% extends 'base.html' %}

{% block title %}WhichAni!{% endblock %}

{% block content %}

<div id="home-content" class="container align-items-center text-center">
    <div class="row row-cols-1 mb-5">
      <div class="col">
        <span id="home-greeting">Welcome 
            {% if not g.user %}
            to <span class="home-greeting-name">WhichAni!</span>
            {% else %}
            back, <span class="home-greeting-name">{{ g.user.username}}!</span>
            {% endif %}
        </span>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-3 col-xl-2 custom-md-col mb-3">
        <div class="card home-card border-light" id="home-card-one">
            <img src="static/images/sousuke_card.png" class="card-img" alt="Get Started!">
            <div class="card-body card-img-overlay d-flex flex-wrap justify-content-center align-items-center">
                <h3 class="card-title">Get Started</h3>
                <hr>
                <p class="card-text">Generate a list based off your preferences!</p>
                <hr>
                <span class="material-symbols-outlined">
                    science
                </span>
                <a href="/recommend" class="stretched-link"></a>
            </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 col-xl-2 custom-md-col text-light">
        {% if not g.user %}
        <div class="card home-card border-light" id="home-card-two">
            <img src="static/images/mitsumi_card.png" class="card-img" alt="Signup!">
            <div class="card-body card-img-overlay d-flex flex-wrap justify-content-center align-items-center">
                <h3 class="card-title">Sign Up</h3>
                <hr>
                <p class="card-text">Sign up to start making your own lists!</p>
                <hr>
                <span class="material-symbols-outlined">person_add</span>
                <a href="/signup" class="stretched-link"></a>
            </div>
        </div>
        {% else %}
        <div class="card home-card border-light" id="home-card-two">
            <img src="static/images/mitsumi_card.png" class="card-img" alt="Make a List!">
            <div class="card-body card-img-overlay d-flex flex-wrap justify-content-center align-items-center">
                <h3 class="card-title">Create a List</h3>
                <hr>
                <p class="card-text">Start making and sharing your own list today!</p>
                <hr>
                <span class="material-symbols-outlined">view_list</span>
                <a href="/new_list" class="stretched-link"></a>
            </div>
        </div>
        {% endif %}
      </div>
    </div>
</div>


{% endblock %}