{% extends 'base.html' %}

{% block title %} Add an Anime {% endblock %}

{% block content %}

<div id="search-container">
    <div id="scrollTopButton" class="text-center">
        <span class="material-symbols-outlined">expand_less</span>
    </div>
    <div class="row no-gutters my-3 justify-content-center searchbar-container">
        <div class="col-md-12 text-center">
            <form action="/list/{{list.list_id}}/search" method="GET">
                <input type="hidden" name="page" value="1">
                <input id="search-bar" name="search_input" type="text" placeholder="Search..">
                <button  formmethod="get" id="search-button"><span id="search-icon" class="material-symbols-outlined">search</span></button>                
            </form>
        </div>
    </div>    
    {% if search_input != None %}
    {% for anime in data['data'] %}
        {% if anime['synopsis'] != None %}
        <div class="row no-gutters my-3 justify-content-center anime-container">
            <div class="col-xl-3 text-center column-left">
                <img src="{{anime['images']['jpg']['image_url']}}" alt="Cover image for {{anime['title']}}">
            </div>
            <div class="col-xl-8 px-3 column-center">
                <div class="title-container">
                    <span>{{anime['title']}}</span>
                </div>
                <div class="desc-container">
                    <p>
                        {{anime['synopsis']}}   
                    </p>
                </div>
            </div>
            <div class="col-xl-1 my-auto text-center column-right">
                <form action="/list/{{list.list_id}}/add" method="GET">
                    <input type="hidden" name="mal_id" value="{{anime['mal_id']}}">
                    <button id="add-anime-button"><span id="add-anime-icon" class="material-symbols-outlined">add_circle</span></button> 
                </form>

            </div>
        </div>
        {% endif %}
    {% endfor %}
    {% endif %}
    <div class="row no-gutters my-3 justify-content-center searchbar-container">
        <div class="col-md-4 text-right">
            <form action="/list/{{list.list_id}}/search" method="GET">
                <input type="hidden" name="search_input" value="{{search_input}}">
                <input type="hidden" name="page" value="{{page-1}}">
                <button id="page-back-button"><span id="page-back-icon" class="material-symbols-outlined">arrow_back_ios</span></button>
            </form>
        </div>
        <div class="col-md-4 my-auto text-center">
            <form action="/list/{{list.list_id}}/search" method="GET">
                <input type="hidden" name="search_input" value="{{search_input}}">
                Jump to page: <input id="page-jump-input" name="page" type="number" value="{{page}}"> of {% if search_input != None %}{{max_pages}}{% endif %}
                <button id="page-jump-button">Go!</button>
            </form>
        </div>
        <div class="col-md-4 text-left">
            <form action="/list/{{list.list_id}}/search" method="GET">
                <input type="hidden" name="search_input" value="{{search_input}}">
                <input type="hidden" name="page" value="{{page+1}}">
                <button id="page-forward-button"><span id="page-forward-icon" class="material-symbols-outlined">arrow_forward_ios</span></button>
            </form>
        </div>
    </div>    
</div>

<script>
    const scrollTopButton = $("#scrollTopButton")
    $('#search-container').on('scroll', function(){
        if($('#search-container').scrollTop() > 20){
            scrollTopButton.css("display","block");
        }
        else
        {
            scrollTopButton.css("display","none");
        }
    })

    scrollTopButton.on('click', function(){
        $('#search-container').scrollTop(0);
    })

</script>
{% endblock %}