{% extends 'base.html' %}

{% block title %}Login to WhichAni{% endblock %}

{% block content %}

<div class="user-container">
        <p class="user-header">Log in to WhichAni</p>
        <small>Sign in to view your lists and likes.</small>
        {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
        <form method="POST">
            {{ form.hidden_tag() }}
  
            {% for field in form if field.widget.input_type != 'hidden' %}
                {% for error in field.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
                <label for="{{field.name}}">{{ field.label.text }}</label>
                <div class="break"></div>
                {{ field }}
                <div class="break"></div>
            {% endfor %}
            <button>Log In</button>
        </form>
        <a class="user-extra" href="/reset">Forgot password?</a>    
</div>



  {% endblock %}