{% extends 'base.html' %}

{% block title %} {{user.username}} {% endblock %}

{% block content %}


<div id="profile-container">
    <div class="row my-3 justify-content-center">
        <div class="col-3" >
            <div class="row">
                <div class="d-flex justify-content-center profile-pocket" id="profile-pocket-1">
                    <img src="{{user.profile_image_url}}" alt="Image for {{user.username}}">
                    <div class="break"></div>
                    <h2>{{user.username}}</h2>
                    {% if user.user_id == g.user.user_id%}
                    <div class="break"></div>
                    <a href="/user/{{user.user_id}}/edit">Edit profile/settings</a>                    
                    {% endif %}

                </div>                   
            </div>
            <div class="row">
                <div class="profile-pocket text-left" id="profile-pocket-3">
                    <h2>About Me &nbsp<span id="about-me-edit" class="material-icons">edit</span></h2>
                    <p id="about-me-text">{{user.about_me}}</p>
                    <form method="POST">
                        <div id="about-me-edit-container">
                            <textarea style="overflow:auto" name="about_me" rows="5">{{user.about_me}}</textarea>
                        </div>
                        <button id="about-me-button">Update</button>
                    </form>
                </div>
            </div>
        
        </div>
        <div class="col-9 text-left" >
            <div class="profile-pocket" id="profile-pocket-2">
                <h1>Lists by user</h1>
                <hr>
                {% for list in user.lists %}
                    {% if list.title != "" %}
                    <a href="/list/{{list.list_id}}">{{list.title}}</a>
                    <div class="break"></div>
                    <small>{{list.description}}</small>
                    <hr>
                    {% else %}
                    <a href="/list/{{list.list_id}}">Untitled</a>
                    <div class="break"></div>
                    <small>{{list.description}}</small>
                    <hr>
                    {% endif %}
                    
                {% endfor %}
            </div>
        </div>
    </div>    
</div>

<script>
    $('#about-me-edit').on('click', function(){
        $('#about-me-text').hide();
        $('#about-me-edit-container').show();
        $('#about-me-button').show();
    });
</script>
{% endblock %}
