{% extends 'base.html' %}

{% block title %}Sign up for WhichAni!{% endblock %}

{% block content %}

<div class="user-container">
    <p class="user-header">Sign up for WhichAni</p>
    <small>Sign up to save lists and like recommendations!</small>
    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
        <form method="POST">
            {{ form.hidden_tag() }}
    
            {% for field in form if field.widget.input_type != 'hidden' %}
                {% for error in field.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}

                    {{ field.label.text }}
                    <div class="break"></div>
                    {{ field }}
                    <div class="break"></div>
                {% endfor %}
                <button>Sign Up!</button>
            </form>
            
            <a class="user-extra" href="/login">Already have an account?</a>               
</div>

{% endblock %}